<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- simulation time in minutes - 120 mi = 2 hours-->
    <add key="sim_time" value="120" />
    <!-- in sec > each 30 sec-->
    <add key="samples_fx" value="30" />
    <!-- Ssampling intervals in seconds-->
    <add key="sample_int" value="10" />
    <add key="use_rand_sample_int" value="false" />
    <add key="min_sample_int" value="2" />
    <add key="max_sample_int" value="15" />
    <!--0: use assign threshold algorithm where the BS station send assign-threshold packet..,  , -->
    <!--1: only guassian window,  , -->
    <!--2: constant , the value in threshold_en field (see above),  , -->
    <!--3: random  , between 20-40 non applicable-->
    <add key="eng_threshold_method" value="1" />
    <!-- Enable 1 disable 0: the algorithm for load balancing the charge requests.-->
    <add key="enable_load_balance_alg" value="1" />
    <!-- when you set the en_threshold_method to constant-->
    <add key="eng_threshold_constant" value="1" />
    <add key="layers" value="7" />
    <add key="eng_consumption" value="0.0200" />
    <add key="com_range" value="50" />
    <add key="tx_rx_packet_eng" value="0.001" />
    <add key="charge_rate" value="2" />
    <add key="alpha" value="0.45" />
    <!--630-14 layer defualt. 546-13, layer-->
    <!-- 4 layers = 4*5*3 = 60,  18  -> 1026-->
    <add key="n_nodes" value="546" />
    <add key="net_size_width" value="1000" />
    <add key="net_size_length" value="1000" />
    <!--maximum battery capacity of sensor node -->
    <add key="sensor_node_battery_cap" value="100" />
    <!-- For simulation , remaining battery capacity of the sensor node percent of max capacity-->
    <add key="remaining_engery" value="44" />
    <!-- MCV maximum battery capacity -->
    <add key="mobile_charger_battery_cap" value="12000" />
    <!--0 disable , 1 enable-->
    <add key="enable_sleep_mode" value="0" />
    <add key="sleep_mode_eng" value="0.0003" />
    <!-- Number of chargers to add-->
    <add key="mc_count" value="10" />
    <!-- The speed of the MCV-->
    <add key="mcv_speed" value="100" />
    <!-- MCV consumed energy per meter -->
    <add key="mcv_eng_per_meter" value="0.1" />
    <add key ="uav_hover_en " value="1"/>
    <add key="base_station_id" value="BS_1" />
    <!-- The timer interval in which the node will send data to BS periodically -->
    <!-- the time is between start-end in random way. both values in seconds-->
    <add key="net_timer_time_range_start" value="160" />
    <add key="net_timer_time_range_end" value="320" />
    <add key="max_link_len" value="71" />
    <!-- The threshold value 5% of maximum energy-->
    <add key ="beta_0" value="5"/>
    <!--The threshold value of 35% of maximum energy , the value must be less than 100%-->
    <add key ="beta_1" value ="35"/>
    <!-- 1: enable , 0 disable-->
    <add key="use_packet_sim" value="1" />
    <add key ="use_auto_connect" value="1"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>